# .NET / Visual Studio
# Build results
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# Visual Studio files
.vs/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
