@page
@model PackageDeliverySystem.Pages.Admin.Customers.CreateModel
@{
}
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 action="text-primary pl-3">Create New Customer</h2>
		</div>

		<div class="mb-3">
			<label asp-for="Register.FirstName"></label>
			<input asp-for="Register.FirstName" class="form-control" />
			<span asp-validation-for="Register.FirstName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.LastName"></label>
			<input asp-for="Register.LastName" class="form-control" />
			<span asp-validation-for="Register.LastName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.PhoneNumber"></label>
			<input asp-for="Register.PhoneNumber" class="form-control" />
			<span asp-validation-for="Register.PhoneNumber" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Register.Address"></label>
			<input asp-for="Register.Address" class="form-control" />
			<span asp-validation-for="Register.Address" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.EmailAddress"></label>
			<input asp-for="Register.EmailAddress" class="form-control" />
			<span asp-validation-for="Register.EmailAddress" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.Password"></label>
			<input asp-for="Register.Password" class="form-control" />
			<span asp-validation-for="Register.Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.ConfirmPassword"></label>
			<input asp-for="Register.ConfirmPassword" class="form-control" />
			<span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_validationScriptsPartial" />
	}
}