@page
@model PackageDeliverySystem.Pages.LoginModel
@{
}
<section class="vh-100">
  <div class="container-fluid h-custom">
	<div class="row d-flex justify-content-center align-items-center h-100">
	  <div class="col-md-9 col-lg-6 col-xl-5">
		<img src="/images/logo.png"
		  class="img-fluid" alt="Sample image">
	  </div>
	  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

		<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="row pb-2">
					<h2 class="text-primary pl-3">
						Login
					</h2>
					<hr />
				</div>

				<div data-mdb-input-init class="form-outline mb-4">
				   <label class="form-label" asp-for="Login.EmailAddress">Email address</label>
					<input asp-for="Login.EmailAddress" class="form-control form-control-lg"
					  placeholder="Example@gmail.com" />
			   </div>
				<div class="mb-3">
					<label asp-for="Login.Password"></label>
					<input asp-for="Login.Password" class="form-control" />
					<span asp-validation-for="Login.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Login.RememberMe"></label>
					<input asp-for="Login.RememberMe" class="form-checkbox" />
					<span asp-validation-for="Login.RememberMe" class="text-danger"></span>
				</div>



				<button type="submit" class="btn btn-primary">Login</button>
				<a asp-page="Index" button type="submit" class="btn btn-outline-secondary">Home</a> 
				<hr />
		</form>
	  </div>
	</div>
  </div>
  <div
	class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

	<div class="text-white mb-3 mb-md-0">
	  Copyright © 2026 - PackageDeliverySystem
	</div>
  </div>
</section>

@section Scripts {
	@{
								<partial name="_validationScriptsPartial" />
	}
}
