@page
@model PackageDeliverySystem.Pages.CustomerViews.OrderConfirmModel
@{
}

<div class="border p-3 mt-4">
    <h2 class="text-primary">Order Confirmation</h2>
    <p>Your Payment has Successfully gone through.</p>
    <p>Thank you for chosing us!!</p>

    <a asp-page="/CustomerViews/Index" class="btn btn-primary">Back to Home</a>
</div>
